body {
  font-family: sans-serif;
}

h1, li, input, button {
  font-size: 14px;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 200px;
}

h1 {
  padding: 12px;
  margin-top: 0;
  background-color: silver;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
ul.show-children {
  display: block;
}

ul ul {
  position: relative;
  left: 24px;
}

div > ul > li {
  /*margin-bottom: 48px;*/
}
li span {
  display: inline-block;
  width: 430px;
  padding: 12px;
  background-color: silver;
  height: 16px;
  margin-bottom: 4px;
  cursor: pointer;
}

button.delete {
  margin-left: 6px;
}

input[type="text"] {
  border: 1px solid silver;
  padding: 0 4px;
  height: 38px;
  width: 445px;
  margin-bottom: 4px;
}

li input[type="submit"] {
  margin-left: 5px;
}

input[type="submit"], button {
  background-color: silver;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
