@import "variables";
@import "responsiveness";
@import "reset";

body {
  margin: $spacing;
}

.wrapper {
  max-width: $width - 2 * $spacing;
  @include respond(desktop) {
    margin: 200px auto;
  }
}

h1 {
  padding: $spacing;
  background-color: silver;
  margin-bottom: 2 * $spacing;
}

ul {
  display: none;
  &.show-children {
    display: block;
  }
  ul {
    margin-left: $spacing;
  }
}

div.item {

  margin-bottom: $spacingSmall;

  &.is-drag-over {
    border-bottom: $spacingSmall solid black;
    margin-bottom: 0;
  }

  span.content {
    display: block;
    background-color: silver;
    padding: $spacing;
    height: $sizeButton - 2 * $spacing;
    cursor: pointer;
    margin-right: 2 * ($sizeButton + $spacingSmall);
    html.no-touchevents & {
      margin-right: 0;
    }
  }

  button.edit, button.delete {
    float: right;
    display: inline-block;
    html.no-touchevents & {
      display: none;
    }
    margin-left: $spacingSmall;
  }

  html.no-touchevents & {
    &:hover {
      button.edit, button.delete {
        display: inline-block;
      }
      span.content {
        margin-right: 2 * ($sizeButton + $spacingSmall);
      }
    }
  }

  form.edit {
    display: none;
  }

  &.is-editing {
    span.content, button.edit, button.delete {
      display: none !important;
    }
    form.edit {
      display: block;
    }
  }
}

form {
  span {
    display: block;
    margin-right: 2 * $spacing + $sizeButton + $spacingSmall + 2 * 1px;
  }
}

input[type="text"] {
  display: block;
  width: 100%;
  border: 1px solid silver;
  height: $sizeButton - 2 * 1px;
  margin-bottom: $spacingSmall;
  padding: 0 $spacing;
}

li input[type="submit"] {
  margin-left: $spacingSmall;
  float: right;
}

input[type="submit"], button {
  background-color: silver;
  border: none;
  outline: none;
  width: $sizeButton;
  height: $sizeButton;
}
